:root {
  --pallet-bright: #04d46c;
  --pallet-primary: #04B05A;
  --pallet-secondary: #038745;
  --pallet-tertiary: #025E30;
  --pallet-dark: #01361B;
  --text-color: white;

  --25-pallet-bright: #04d46c40;
  --0-pallet-dark: #01361B00;

  --header-stroke: #cccccc53;
  --30-black: #00000050;

  --page-background-1: #010101;
  --page-background-2: var(--pallet-secondary);

  --has-scroll: 0;
  --current-heading-offset: 1ch;
  --current-heading-width: 3ch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Righteous;
  src: url(./assets/fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: "Montserrat black";
  font-weight: bolder;
  src: url(./assets/fonts/montserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf);
}

html, body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(180deg, var(--page-background-1) 0%, var(--page-background-2) 100%);
}

.hidden {
  display: none !important;
}

.mobile-only {
  display: none !important;
}

.desktop-only {
  display: unset;
}

#skipnavigation {
  position: absolute;
  top: -1000vh;
  left: 0;
  background-color: var(--pallet-bright);
  color: var(--text-color);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border: 0;
  font-weight: 900;
}

#skipnavigation:focus {
  top: 0;
}

#header {
  position: sticky;
  top: 0.5rem;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  color: var(--text-color);
  isolation: isolate;
  background: transparent;
  transition: border 0.5s background 0.5s;
  z-index: 99;
}

.has-scroll #header {
  background: var(--30-black);
  border: 1px solid var(--header-stroke);
  backdrop-filter: blur(3px);
}

#header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pallet-bright);
  opacity: calc(0.30 * var(--has-scroll));
  z-index: -2;
  transition: opacity 0.5s;
}

#header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/images/noise.png) center center;
  background-size: 60vmin;
  opacity: calc(0.20 * var(--has-scroll));
  mix-blend-mode: overlay;
  z-index: -1;
  transition: opacity 0.5s;
}

#header-leftside {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
}

#header-logo {
  width: auto;
  height: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
}

#header-logo > svg {
  height: 100%;
  width: fit-content;
}

#logo-stroke {
  fill: none;
  stroke: var(--pallet-bright);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20;
}

#logo-fill {
  fill: var(--pallet-bright);
}

#header-logo-text {
  font-family: Righteous;
  font-size: 20px;
}

#header-rightside {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100%;
  font-size: 0.87rem;
}

#header-desktop-navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-family: Montserrat;
  font-weight: normal;
}

#header-desktop-navigation > a {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-desktop-navigation > a:after {
  content: '';
  display: inline-block;
  width: 0.125rem;
  height: auto;
  aspect-ratio: 1/2;
  background: var(--text-color);
  margin: 0.5rem;
}

#header-desktop-navigation {
  position: relative;
}

#current-heading-indicator {
  width: var(--current-heading-width);
  left: var(--current-heading-offset);
  height: 0.125rem;
  position: absolute;
  background: var(--pallet-bright);
  bottom: -0.25rem;
  transition: left 0.5s, width 0.5s;
  border-radius: 100vw;
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.callToAction {
  font-family: "Montserrat black";
  font-weight: bolder;
  padding: 0.25em 1em;
  height: 3em;
  max-height: 100%;
  border: 0.25em solid var(--pallet-bright);
  background: var(--pallet-primary);
  color: var(--text-color);
  cursor: pointer;
  width: fit-content;
  font-size: inherit;
}

section {
  scroll-margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home-background {
  inset: 0;
  position: absolute;
  width: 100%;
  height: calc(75vh + 3.5rem);
  background: var(--page-background-1) url(./assets/images/VHSPosterHorizontal.png) center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: calc(var(--current-scroll) * -0.5px);
  z-index: -1;
}

#home {
  height: 75vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem 2.5rem;
}

#home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: var(--text-color);
  background: radial-gradient(closest-side, var(--page-background-1), transparent);
  gap: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: Montserrat;
}

#home-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.logo-wrapper {
  width: 100%;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-title {
  font-family: "Montserrat black";
  font-weight: bolder;
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
}

#reviews {
  overflow: hidden;
  margin-top: -1.5rem;
}

.review-card-stars-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.review-card-star {
  --size: 2rem;
  aspect-ratio: 1;
  width: var(--size);
}

#reviews-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  width: 125%;
}

.review-card {
  background: var(--text-color);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-content: top;
  align-items: start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.card-author {
  text-align: right;
}

.card-author::before {
  content: '— ';
}

#reviews-read-more {
  color: var(--text-color);
  margin: 0 auto;
  grid-column: 2;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1rem;
}

#about {
  position: relative;
  isolation: isolate;
  padding: 2rem 1rem;
}

#about::before {
  content: '';
  position: absolute;
  inset: 0;
  mix-blend-mode: overlay;
  z-index: -2;
  background: linear-gradient(180deg, var(--pallet-tertiary) 0%, var(--25-pallet-bright) 100%);
}

#about::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.15;
  mix-blend-mode: overlay;
  z-index: -1;
  background: url("./assets/images/noise.png") center center;
  background-size: 33%;
}

#about-content-wrapper {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: right;
  gap: 2rem;
  color: var(--text-color);
  font-family: Montserrat;
  font-weight: regular;
  font-size: 1rem;
  background: linear-gradient(to right, var(--0-pallet-dark) 0%, var(--pallet-dark) 50%, var(--0-pallet-dark) 100%);
}

.about-item:last-of-type {
  grid-template-columns: 2fr 1fr;
}

.about-item-description {
}

.about-item-imgcontainer {
  height: 100%;
  aspect-ratio: 1;
  contain: size;
}

.about-item-imgcontainer img {
  height: 100%;
  width: 100%;
}

/* tablets & phones */
@media screen and (max-width: 768px) {
  .mobile-only {
    display: unset;
  }

  .desktop-only {
    display: none !important;
  }

  #home {
    grid-template-columns: 2fr 1fr;
  }

  #reviews-card-container {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
  }

  #reviews-read-more {
    grid-column: 1 / 3;
  }
}

/* phones */
@media screen and (max-width: 600px) {
  #home {
    grid-template-columns: 1fr;
  }

  #reviews-card-container {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #reviews-read-more {
    grid-column: 1;
  }
}